@font-face {
    font-family: NotoSans; 
    src: url(fonts/NotoSans/NotoSansJP-Medium.otf); 
    font-size: 12px;
}
@font-face {
    font-family: OpenSans; 
    src: url(fonts/OpenSans/OpenSans-Italic.ttf); 
    font-size: var(--main-font-size);
}
:root {
    --main-font-size: 14px;
    --primary-font-size: 0.7rem;
    --main-bgcolor: #F2CE1B;
    --primary-bgcolor: #B38F0E;
    --circle-size: 3rem;
    --personal-circle-size: 1rem;
}
html {
    max-width: 2000px;
}
.iconify {
    width: calc(var(--main-font-size) * 2);
    height: calc(var(--main-font-size) * 2);
    color: var(--main-bgcolor);
    padding-left: 1.5rem;
    cursor: pointer;
}
button .iconify {
    color:black;
    margin: 0.3rem 1rem 0 0;
}
body {
    font-family: NotoSans;
    font-size: var(--main-font-size);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: var(--main-font-size)
}
a {
    font-family: NotoSans;
    text-decoration: none;
    color: black;   
}
i {
    width: 10%;
    height: 1.78%;
    font-family: OpenSans;
    font-style: normal;
    font-weight: normal;
    font-size: var(--primary-font-size);
    color: #333333;
    cursor: pointer;
}
.header {
    width:100%;
    height:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bgcolor);
}
.header a {
    margin: auto;
}
button {
    margin: 1rem;
    background: var(--main-bgcolor);
    border-radius: 65rem;
    border: 0;
    font-family: NotoSans;
}
button:hover, input:hover {
    background: var(--primary-bgcolor);;
    cursor: pointer;
    transition: 0.3s;
}
.btns {
    display: flex;
    height: 10%;
}
.download{
    margin: auto;
    margin-left: 42%;
    height: 50%;
    width: 16rem;
}
.exit{
    display: flex;
}
.exit i {
    margin: 1.5rem auto;
    width: auto;
}
.exit button {
    height: 50%;
    width: 6rem;
}
.main-window {
    width: 100%;
    height: 79%;
    display: inline-block;
    display: flex;
}
.active-users {
    width: 20%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.user {
    margin: 1rem auto .5rem .5rem;

}
.user div {
    display: flex;
    flex-direction: column;  
}
.user i {
    white-space: nowrap;
}
.circle {
    display: flex;
    margin: auto 0;
    float: left;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: green;
    border-radius:50%;
    margin-right:1rem;
    cursor: pointer;
}
.bold {
    font-weight: bold;
}
.circle p {
    margin:auto;
    color:white;
}
.my-circle {
    margin-right: -0em;
}
.personal {
    background-color: var(--main-bgcolor);
    width: var(--personal-circle-size);
    height: var(--personal-circle-size);
}
.chat {
    width: 60%;
    height: 100%;
}
.messages {
    max-height: 85%;
    padding: .75rem;
    overflow: auto;
}
.messages table  {
    width: 100%;
}
.full-message {
    display: block;
    float: left;
    margin-bottom:-2rem;
}
.message {
    margin: 1rem;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}
.my .iconify {
    padding: 0;
    margin-left: 1rem;
}
.message span {
    margin-right: 1rem ;
    padding: 1rem;
    display: block;
    background-color: var(--main-bgcolor);
    border-radius: 1rem;
    max-width: 25rem;
}
.message i {
    margin: 0;
    display: block;
    width: auto;
}
.my .message {
    margin-left: auto;
}
.info {
    margin: -1rem 0 1.5rem 5rem;
}
.my-info {
    margin:-0.5rem 5rem;
    display: flex;
}
.my-info i {
    text-align: right;
    margin: 0rem 0 1.5rem auto;
    padding-left: auto;
    width:35rem;
}
#my-personal-msg .td {
    display: flex;
}
.my {
    float: right;
    margin-bottom:-2rem;
    display: flex;
    flex-direction: column;
}

.icons {
    margin: auto 1rem;
}
.my .info {
    margin-left: 10rem;
}
.write-message {
    display: flex;
    margin-bottom: 0rem;
    position: fixed;
    padding-top:1rem;
    left: 25%;
    bottom: 6%;
    padding-top: 1rem;
}
.personal-msg-input {
    display: flex;
    flex-direction: column;
}
.personal-msg-input i {
    font-family: 'OpenSans';
    width: 100%;
}
.personal-msg-input .iconify {
    width: var(--primary-font-size);
    margin: -.6rem;
}
.write-message input {
    margin: auto;
    width: 40rem;
    height: 2.5rem;
    padding-left: 1rem;
    background-color: var(--main-bgcolor);
    border-radius: 2rem;
    border: 0;
}
.confirm-delete {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}
.confirm-delete .text {
    background-color: var(--main-bgcolor);
    border-radius: 1rem;
    height: 2rem;
    width: 15rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirm-delete .iconify {
    margin-top: .3rem;
}
.send-btn {
    width: 10%;
    height: 2.5rem;  
    padding-right: 5rem; 
}
::-webkit-input-placeholder { 
    color: black;
    font-family: NotoSans;
}
.write-message button {
    margin: 1rem auto;
}
.filter {
    width: 20%;
    height: 100%;
    display: flex;
}
.options {
    margin: auto;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 15rem;
    align-items: center;
    justify-content: center;
}
.choose-date input[type="date"] {
    width: 10rem;
}
.options button, .options input {
    margin: auto;
    width: 10rem;
    height: 3rem;
    text-align: center;
    background: var(--main-bgcolor);
    border-radius: 65rem;
    border: 0;
    font-family: NotoSans;
}
.footer {
    width:100%;
    height:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bgcolor);
    position: fixed; 
    left: 0; 
    bottom: 0; 
}
.footer a {
    margin: auto;
}
@media (min-width: 720) and (min-width: 480){
    :root {
        --main-font-size: 7px;
    }
}
@media (min-width: 1360px) and (min-width: 720px){
    :root {
        --main-font-size: 10px;
    }
}
@media (min-width: 1440px), (min-height: 900px){
    :root {
        --main-font-size: 14px;
    }
}
@media  (min-width: 1600px) and (min-width: 900px) {
    :root {
        --main-font-size: 12px;
    }
}
@media  (min-width: 1920px) and (min-width: 1080px) {
    :root {
        --main-font-size: 14px;
    }
}
@media  (min-width: 2560px) and (min-width: 1440px) {
    :root {
        --main-font-size: 14px;
    }
}