<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta  name="viewport" content="width=device-width">
    <title>DatamolaChat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="sources/title.png" type="image/x-icon">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</head>
<body>
    <header class="header">
        <a href="#" target="_blank">v0.2.0</a>
        <a href="#" target="_blank">Новости проекта</a>
        <a href="#" target="_blank">Список обновлений</a>
        <a href="#" target="_blank">О проекте</a>
    </header>
    <div class="main-window">
        <span class="iconify" data-inline="false" data-icon="icomoon-free:sad"></span>
        <div class="text">
            <div>Error 404 page not found</div>
            <a href="#">На главную</a>
        </div>
    </div>
    <footer class="footer">
        <a href="#" target="_blank">DatamolaChat</a>
        <a href="https://vk.com/timka_ufimka" target="_blank">Камалов Тимур</sa>
        <a href="#" target="_blank">kamalow.t@yandex.by</a>
        <a href="#" target="_blank">17.11.2020</a>
    </footer>
</body>
</html>